body {
  background-color: azure;
  border: 5px solid green;
  font-family: "Courier New", Courier, monospace;
  padding: 40px;
  margin: 60px;
}

section {
  padding: 10px;
}

section h1 nav {
  align-content: center;
}

section h1 {
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin: 0 0;
}

nav ul {
  list-style: none;
  text-align: center;
}
nav a {
  color: brown;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
}

ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.about {
  color: aqua;
}

li:not(:last-child)::after {
  content: " |";
  position: absolute;
  font-size: 22px;
  font-weight: bold;
}

section h2 {
  font-size: 32px;
  font-weight: 600;
}

section p {
  font-size: 20px;
}

img {
  float: right;
  height: 200px;
  width: 300px;
  margin: 0 15px 15px 15px;
  border-radius: 10px;
}
